<div class="job marked" id="job_1000026865">
    <div class="inner">
        <a class="job_icon" style="background-image: url('https://habrastorage.org/getpro/moikrug/uploads/company/999/989/988/logo/medium_d4c5ca1929e3300dd55e600265d8bf13.png')" href="/vacancies/1000026865"></a>
        <div class="info">
            <div class="company_name">
                <a href="/companies/sbertech">Сбербанк-Технологии</a>
                <span class="date">23 июня 2016</span>
            </div>
            <div class="title" title="Разработчик-стажер (Java)">
                <a href="/vacancies/1000026865">Разработчик-стажер (Java)</a>
            </div>
            <div class="meta">
                <span class="location"><a href="/vacancies?city_id=717">Новосибирск</a></span>
                <span class="occupation"> • Неполный рабочий день</span>
            </div>
            <div class="skills">
                <a class="skill" href="/vacancies?q=Java">Java</a>
            </div>
        </div>
        <div class="salary"></div>
    </div>
</div>

<div class="job  " id="job_1000027274">
    <div class="inner">
        <a class="job_icon" style="background-image: url('https://habrastorage.org/getpro/moikrug/uploads/company/100/005/155/9/logo/medium_b4c8776d6b2d9efd311333d2da78ac6c.png')" href="/vacancies/1000027274"></a>
        <div class="info">
            <div class="company_name">
                <a href="/companies/akvelonyar">Akvelon</a>
                <span class="date">20 июля 2016</span>
            </div>
            <div class="title" title="Java разработчик ">
                <a href="/vacancies/1000027274">Java разработчик </a>
            </div>
            <div class="meta">
                <span class="location"><a href="/vacancies?city_id=747">Ярославль</a></span>
            </div>
            <div class="skills">
                <a class="skill" href="/vacancies?q=Java">Java</a>
            </div>
        </div>
        <div class="salary"></div>
    </div>
</div>